Upload new photo

<div class="row">
  <%= form_for @photo do |f| %>
    <div class="form-group">
      <%= f.label :photo %>
      <%= f.drag_and_drop_file_field :image, 'Drag and drop images here!', accept: 'image/png, image/jpeg, image/gif, image/tiff' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <%= f.submit 'Post', class: 'btn btn-primary' %>
  <% end %>
</div>
